body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #72DDF7;
  overflow-x: hidden;
  background-color: black;
  display:grid;
  min-height:100vh;
}

footer {
  margin-top:auto;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 10px;
  color: #8B8982;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  min-width: 90%;
}

.icon {
  height: 1em;
  width: 1em;
}
.icon-lines {
  height: 1em;
  width: 1em;
  fill:none; 
  stroke-width:10;
}
.icon-text {
  height: 1em;
  width: 1em;
  stroke-width:0;
}

.title {
  color: #e5f77d;
  margin-bottom: 5vh;
  background-image: linear-gradient(#222222, black);
}

.navbar-nav {
	display: inline-block;
  font-size: 1em;
  background-color: #72DDF7;
  background-color: rgba(114, 221, 246, 0.8);
  border-style: outset;
  border-color: #313131;
  color: #313131;
  stroke: #313131;
  fill: #313131;
}
.nav-item {
	display: inline-block;
}
.nav-link:hover {
  color: #e5f77d;
  stroke: #E5F77D;
  fill: #E5F77D;
}
.current-page {
  background-color: #8B80F9;
  border-style: inset;
  border-color: #313131;
}

hr {
  border-top: 1px solid #72DDF7;
}

a {
  color: #E5F77D;
}

.tab-list-item {
  width: 100%;
  max-width:200px;
  color: #313131;
  background-color: #72DDF7;
  border: 3px outset #313131;
  font-weight: bold;
  font-size: 1em;
}
.tab-list-item:hover {
  border-color: #E5F77D;
}
.selected-tab-list-item {
  width: 100%;
  max-width:200px;
  background-color: #8B80F9;
  border: 3px inset #313131;
  font-weight: bold;
  font-size: 1em;
}

.benji-border {
  border: solid;
  border-image: linear-gradient(#e5f77d,#8B80F9) 30;
  background-color: #313131;
  min-height: 50vh;
}

.benji-link {
  color: #313131;
  background-color: #72DDF7;
  border: 3px outset #313131;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  stroke: #313131;
  fill: #313131;
}

.benji-link:hover {
  background-color: #e5f77d;
}

.proj-pic {
  min-width: 100%;
}

.expand-button {
  border: none;
  text-decoration: underline;
  color: #72DDF7;
  background-color: #313131;
}

h4 {
  color: #e5f77d;
}

.item-lists {
  list-style: none;
  font-size: 1.5em;
}
.item-lists li {
  background-color: lightblue;
  display: inline-block;
  border-radius: 15px;
  margin: 3px;
}
.item-lists b {
  color: #313131;
  padding: 5px;
}

/*setting up mobile display*/
.tablet-mobile {
  display: block;
}
.tablet-desktop {
  display: none;
}
.mobile-only {
  display: block;
}  
.desktop-only {
  display: none;
}
.tab-list {
  display: none;
}
.content {
  width: 100%;
  list-style: none;
}
.content ul {
  list-style: none;
}
.content li {
  margin-bottom: 4px;
}
.content img {
  float: right;
  max-height: 200px;
  border-style: inset;
  border-color: #313131;
  margin-left: 15px;
  margin-bottom: 15px;
}
.about-card {
  color: #72DDF7;
  height: 100%;
  border-left: none;
}
/*media query for tablets only*/
@media screen and (min-width: 563px) and (max-width: 769px)
{
  .tablet-mobile {
    display: block;
  }
}
/*media query for tablets and desktop*/
@media screen and (min-width: 563px)
{
  .tablet-desktop {
    display: block;
  }
  .tab-list {
    display: block;
    font-size: 0.9em;
  }
  .mobile-only {
    display: none;
  }
  .about-card {
    border-left: 3px solid #72DDF7;
  }
}
/*media query for desktop only*/
@media screen and (min-width: 769px)
{
  .tablet-mobile {
    display: none;
  }
  .tab-list {
    font-size: 1.4em;
  }
  .desktop-only {
    display: block;
  }
  .navbar-nav {
    font-size: 1.5em;
    background-color: #72DDF7;
    background-color: rgba(114, 221, 246, 0.8);
  }
}