body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #090302;
  color: #fbf9ff;
}

footer {
  text-align: center;
  background-image: linear-gradient(#313131, #474747);
  overflow: hidden;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #313131;
  font-size: 1.5em;
}

.nav-link {
  color:#fbf9ff;
}

.navbar-brand {
  color: #fbf9ff;
  font-size: 1.2em;
}

.content {
  margin-left: 20%;
  margin-right: 20%;
}

.card {
  flex-direction: row;
  max-width: 30em; /* Set your desired maximum width */
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  background-color: #313131;
  color: #fbf9ff;
  border-color: #e5f77d;
}

.benji-border {
  border: solid;
  border-image: linear-gradient(#8B80F9, #e5f77d) 30;
  background-color: #313131;
}

.benji-button {
  border-radius: 15px;
  color: #313131;
  background-color: #8B80F9;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
}

.benji-button:hover {
  background-color: #dad7ff;
}

.benji-title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #313131;
  background-image: linear-gradient(#8B80F9, #e5f77d);
}