body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #72DDF7;
  overflow-x: hidden;
  background-color: black;
  display:grid;
  min-height:100vh;
}

footer {
  margin-top:auto;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 10px;
  color: #8B8982;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  min-width: 90%;
}

.title {
  color: #e5f77d;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.navbar-nav {
  font-size: 1.5em;
  background-color: #72DDF7;
  background-color: rgba(114, 221, 246, 0.8);
  border-radius: 25px;
}
.navbar-toggler {
  background-color: #72DDF7;
  background-color: rgba(114, 221, 246, 0.8);
}
.nav-link {
  color: #313131;
}
.nav-link:hover {
  color: #e5f77d;
}
.current-page {
  background-color: #8B80F9;
  border-radius: 25px;
}

hr {
  border-top: 1px solid #72DDF7;
}

a {
  color: #E5F77D;
}

.content {
  margin-left: 20%;
  margin-right: 20%;
}

.about-card {
  color: #72DDF7;
  height: 100%;
  border-left: 3px solid #72DDF7;
}
.tab-list {
  font-size: 1.2em;
}
.tab-list-item {
  width:100%;
  color: #313131;
  background-color: #72DDF7;
  border: 3px outset #313131;
  font-weight: bold;
  font-size: 1.2em;
}
.tab-list-item:hover {
  background-color: #E5F77D;
  color:#313131
}
.selected-tab-list-item {
  width:100%;
  background-color: #E5F77D;
  border: 3px outset #313131;
  font-weight: bold;
  font-size: 1.2em;
}

.benji-border {
  border: solid;
  border-image: linear-gradient(#e5f77d,#8B80F9) 30;
  background-color: #313131;
  min-height: 50vh;
}

.benji-button {
  color: #313131;
  background-color: #72DDF7;
  border: 3px outset #313131;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
}

.benji-button:hover {
  background-color: #8B80F9;
}

.proj-pic {
  min-width: 100%;
}

.benji-fact {
  border: solid;
  border-color: #e5f77d;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

h4 {
  color: #e5f77d;
}

.lang-bubble {
  background-color: lightblue;
  border-radius: 15px;
}

.lang-bubble-text {
  color: black;
  padding: 4px;
}